.welcome-content {
  .or-separator {
    display:block;
    width:100%;
    font-weight: bold;
  }
  .list-inset {
    margin: 10px 10px;
  }
  .ps-logo {
    height:5em;
    margin: auto;
    display: block;
  }
}
