.welcome-content {
  .or-separator {
    display:block;
    width:100%;
    font-weight: bold;
  }
  .list-inset {
    margin: 10px 10px;
  }
  .ps-logo {
    height:20%;
    margin: auto;
    display: block;
  }
  #pslogo {
    margin-top: -3em;
  }
  div.text-center h2:first-child {
    margin-top: -1em;
  }
}
