.welcome-content {
  div.padding {
    font-size: 18px;
  }
  .or-separator {
    display:block;
    width:100%;
    font-size: 18px;
  }
  .list-inset {
    margin: 10px 10px;
  }
  .ps-logo {
    height:6em;
    margin: auto;
    display: block;
  }
  h2.title {
    color: $psych-color-2;
    font-size: 2em;
    font-weight: bold;
    margin-top:1em;
    margin-bottom:2em;
  }
  .button.button-block {
    color: #fffefe;
    font-size:28px;
  }
  .remember-me-label {
    font-size: 28px;
  }
  .forgot-login {
    font-size: 18px;
    & > div {
      margin-bottom: 10px;
    }
    & > a {
      font-weight: bold;
      /*text-decoration:none;*/
      color: black;
    }
  }
}
