<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.pushnotifications" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" ios-CFBundleVersion="1.3.9" android-versionCode="139">
  <name>PsychicSource Test</name>
  <description>
    Official PsychicSource Mobile App 
  </description>
  <author email="development@novotorium.com" href="http://www.novotorium.com/">
    Novotorium Team
  </author>
  <content src="index.html"/>
  <access origin="tel:*" launch-external="yes"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="auto-hide-splash-screen" value="false"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="SplashMaintainAspectRatio" value="true|false"/>
  <preference name="FadeSplashScreen" value="false"/>
  <preference name="FadeSplashScreenDuration" value="3000"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="android-build-tool" value="gradle"/>
  <preference name="StatusBarOverlaysWebView" value="false"/>
  <gap:plugin name="cordova-plugin-splashscreen" source="npm" version="3.2.0"/>
  <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" version="1.2.1"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1.2.1"/>
  <gap:plugin name="phonegap-plugin-push" source="npm" version="1.4.5"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="browser">
    <preference name="SplashScreen" value="images/browser/splashscreen.jpg"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <preference name="SplashScreenBackgroundColor" value="green"/>
    <preference name="ShowSplashScreen" value="false"/>
    <preference name="SplashScreenWidth" value="600"/>
    <preference name="SplashScreenHeight" value="300"/>
  </platform>
  <platform name="ios">
    <icon src="icons/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180"/>
    <icon src="icons/ios/icon-60.png" gap:platform="ios" width="60" height="60"/>
    <icon src="icons/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120"/>
    <icon src="icons/ios/icon-76.png" gap:platform="ios" width="76" height="76"/>
    <icon src="icons/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152"/>
    <icon src="icons/ios/icon-Small.png" gap:platform="ios" width="29" height="29"/>
    <icon src="icons/ios/icon-Small@2x.png" gap:platform="ios" width="58" height="58"/>
    <icon src="icons/ios/icon-Small@3x.png" gap:platform="ios" width="87" height="87"/>
    <icon src="icons/ios/icon-Small-40.png" gap:platform="ios" width="40" height="40"/>
    <icon src="icons/ios/icon-Small-40@2x.png" gap:platform="ios" width="80" height="80"/>
    <splash src="splashscreen/ios/Default.png" gap:platform="ios" width="320" height="480"/>
    <splash src="splashscreen/ios/Default@2x.png" gap:platform="ios" width="640" height="960"/>
    <splash src="splashscreen/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136"/>
    <splash src="splashscreen/ios/Default-667h@2x.png" gap:platform="ios" width="750" height="1334"/>
    <splash src="splashscreen/ios/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208"/>
    <splash src="splashscreen/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024"/>
    <splash src="splashscreen/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768"/>
    <splash src="splashscreen/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048"/>
    <splash src="splashscreen/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536"/>
  </platform>
  <platform name="android">
    <icon src="icons/android/ldpi/psychic-source-icon.png" gap:density="ldpi"/>
    <icon src="icons/android/mipmap-mdpi/psychic-source-icon.png" gap:density="mdpi"/>
    <icon src="icons/android/mipmap-hdpi/psychic-source-icon.png" gap:density="hdpi"/>
    <icon src="icons/android/mipmap-xhdpi/psychic-source-icon.png" gap:density="xhdpi"/>
    <icon src="icons/android/mipmap-xxhdpi/psychic-source-icon.png" gap:density="xxhdpi"/>
    <icon src="icons/android/mipmap-xxxhdpi/psychic-source-icon.png" gap:density="xxxhdpi"/>
    <splash src="splashscreen/android/splash-land-LDPI.png" gap:qualifier="land-ldpi"/>
    <splash src="splashscreen/android/splash-land-MDPI.png" gap:qualifier="land-mdpi"/>
    <splash src="splashscreen/android/splash-land-HDPI.png" gap:qualifier="land-hdpi"/>
    <splash src="splashscreen/android/splash-land-XHDPI.png" gap:qualifier="land-xhdpi"/>
    <splash src="splashscreen/android/splash-land-XXHDPI.png" gap:qualifier="land-xxhdpi"/>
    <splash src="splashscreen/android/splash-land-XXXHDPI.png" gap:qualifier="land-xxxhdpi"/>
    <splash src="splashscreen/android/splash-port-LDPI.png" gap:qualifier="port-ldpi"/>
    <splash src="splashscreen/android/splash-port-MDPI.png" gap:qualifier="port-mdpi"/>
    <splash src="splashscreen/android/splash-port-HDPI.png" gap:qualifier="port-hdpi"/>
    <splash src="splashscreen/android/splash-port-XHDPI.png" gap:qualifier="port-xhdpi"/>
    <splash src="splashscreen/android/splash-port-XXHDPI.png" gap:qualifier="port-xxhdpi"/>
    <splash src="splashscreen/android/splash-port-XXXHDPI.png" gap:qualifier="port-xxxhdpi"/>
    <splash src="screen.png"/>
  </platform>
</widget>