<ion-view title="Become a Psychicsource Member">
  <ion-content class="padding">
    <div class="list card">
      <div class="item text-center button-dark">
        <h2>Create an Account</h2>
        <h3 class="no-wrap">
          Don't have an account yet? Create one now to access a wealth 
          of Psychic Source features and services, like daily horoscopes,
          psychic articles and special offers.
        </h3>
        <br>
        <h3>
      </div>
    </div>
    <button class="button button-block button-assertive">
      <a href="www.psychicsource.com">Go to www.psychicsource.com</a>
    </button>
    <h3 class="text-center"> or </h3>
    <button class="button button-block button-positive">
      <a href="www.psychicsource.com/callnow">Call Now</a>
    </button>
    
    </div>
  </ion-content>
</ion-view>


