<ion-view title="Become a Psychicsource Member">
<ion-content class="padding has-footer">
  <br>
  <h2 class="text-center"><strong>Create an Account</strong></h2>
  <br>
  <h3 class="text-center no-wrap">
    <div>Don't have an account yet?</div>
    <div>Create one now to access a wealth</div> 
    <div>of Psychic Source features and services,</div>
    <div>like daily horoscopes, psychic articles</div>
    <div>and special offers.</div>
    <br>
    <div> Take advantage of a special </div>
    <div><strong>introductory offer</strong> on your first</div>
    <div>phone or chat reading.</div>
    <br>
    <div>No hidden fees or charges</div>
  </h3>
  <br>
  <h3>
  <button class="button button-block button-psychic2">
    <a href="www.psychicsource.com">Go to www.psychicsource.com</a>
  </button>
  <h3 class="text-center"> or </h3>
  <button class="button button-block button-psychic2">
    <a href="www.psychicsource.com/callnow">Call Now</a>
  </button>

</div>
</ion-content>
</ion-view>


