<ion-view title="Become a Member">
<ion-content class="padding become-member-content">
  <br>
  <h3 class="text-center no-wrap justify">
    <div><strong>Don't have an account yet?</strong> Create one now.</div>
    <br>
    <div> Take advantage of a special <a href ng-click="external($event)" data-href="https://www.psychicsource.com/secure/enroll.aspx?utm_source=smart_phone_app&utm_campaign=introductory_offer&utm_medium=become_member_screen" data-event-category='introductory offer'>introductory offer</a> on your first phone or chat reading.</div>
    <br>
    <div><span class="highlighted-text">No hidden fees or charges</span></div>
  </h3>
  <br>
  <h3>
  <a class="button button-large button-block button-psychic2" href ng-click="external($event)" data-href="https://www.psychicsource.com/secure/create-account?utm_source=smart_phone_app&utm_campaign=create_account&utm_medium=become_member_screen" data-event-category='create account'>
      Create a New Account
  </a>
</div>
</ion-content>
</ion-view>


