<!-- Member Home page -->
<ion-view title="Member Home">
<ion-content>
  <br>
  <h4 class="text-center">App team account</h4>
  <div class="padding">
    <div class="list">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Return Call Lines
        <span class="badge badge-balanced">2</span> 
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-usd"></i>   
        Your Balance  
        <span class="item-note">  
          $36.30      
        </span>  
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-clock"></i>   
        Your Availability
        <span class="item-note">  
          Until 3:PM EST 01/9/2015
        </span>  
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>   
        Messages      
        <span class="badge badge-balanced">5</span>
      </a>

      <div class="item item-divider">    
        Settings      
      </div>     
      <a class="item item-icon-left item-icon-right" href="#">   
        <i class="icon ion-android-settings"></i>  
        Notification Preference   
        <i class="icon ion-arrow-right-c"></i>
      </a>
    </div>
  </div>
</ion-content>
</ion-view>

