<!-- Preferences page -->
<ion-view title="Notification Settings">
<ion-content class="padding has-footer">
  <br>
  <br>
  <div>
    <ul class="list">
      <li class="item item-toggle">
      Next in line to receive a Return Call
      <label class="toggle toggle-balanced">                   
        <input type="checkbox"> 
        <div class="track">  
          <div class="handle"></div>                           
        </div>               
      </label>               
      </li>                     
      <li class="item item-toggle">
      Availability expires in 30 minutes
      <label class="toggle toggle-balanced">                   
        <input type="checkbox" checked> 
        <div class="track">  
          <div class="handle"></div>                           
        </div>               
      </label>               
      </li>                     
      <li class="item item-toggle">
      Account balance below minimum for Return Call                      
      <label class="toggle toggle-balanced">                   
        <input type="checkbox"> 
        <div class="track">  
          <div class="handle"></div>                           
        </div>               
      </label>               
      </li>                     
      <li class="item item-toggle">
      Removed from Return Call Line
      <label class="toggle toggle-balanced">                   
        <input type="checkbox" checked> 
        <div class="track">  
          <div class="handle"></div>                           
        </div>               
      </label>               
      </li>                     
      <li class="item item-toggle">                              
      New message received                            
      <label class="toggle toggle-balanced">                   
        <input type="checkbox"> 
        <div class="track">  
          <div class="handle"></div>                           
        </div>               
      </label>               
      </li>                     
      <li class="item item-toggle">
        {{preferences[0].ContentTitle}}
      <label class="toggle toggle-balanced">                   
        <input type="checkbox" checked> 
        <div class="track">  
          <div class="handle"></div>                           
        </div>               
      </label>               
      </li>                     
      <li class="item item-toggle">
        {{preferences[1].ContentTitle}}
      <label class="toggle toggle-balanced">                   
        <input type="checkbox"> 
        <div class="track">  
          <div class="handle"></div>                           
        </div>               
      </label>               
      </li>                     
      <li class="item item-toggle">
        {{preferences[2].ContentTitle}}
      <label class="toggle toggle-balanced">                   
        <input type="checkbox" checked> 
        <div class="track">  
          <div class="handle"></div>                           
        </div>               
      </label>               
      </li>                     
      <li class="item item-toggle">                              
        {{preferences[3].ContentTitle}}
      <label class="toggle toggle-balanced">                   
        <input type="checkbox"> 
        <div class="track">  
          <div class="handle"></div>                           
        </div>               
      </label>               
      </li>                     
    </ul>
  </div>
</ion-content>
</ion-view>
