<ion-view title="Privacy Policy">
  <ion-content class="padding privacy-policy-content" ng-class="{ 'has-footer': showFooter }">
  <br>
    <div>
    
    <div class="u-sm-padding-20-sides">
                    <a id="ss-top"></a>
<h1>Privacy Policy</h1>
<ul>
     <li><a ng-click="scrollTo()" href="#/app/privacy_policy#ss-how">How we protect your privacy</a></li>
     <li><a ng-click="scrollTo()" href="#/app/privacy_policy#ss-info">Information we collect about you</a></li>
     <li><a ng-click="scrollTo()" href="#/app/privacy_policy#ss-psychic">Psychic Source® and third-party marketing communications to you</a></li>
     <li><a ng-click="scrollTo()" href="#/app/privacy_policy#ss-howto">How to be added or removed from our lists</a></li>
     <li><a ng-click="scrollTo()" href="#/app/privacy_policy#ss-co">Co-branded companies</a> </li>
</ul>
<h3>Privacy Policy</h3>
<p>This Online Privacy Policy &amp; Legal Statement (the "Policy") applies to PsychicSource.com ("PsychicSource.com" or the "website"). It is designed to enforce our commitment to the privacy of your personal information, and let you know how we collect and use it. This Policy applies only to activities on PsychicSource.com and not to any sites we may link to. By using the website you accept our Policy. We may revise it at any time by updating the website. If you have any questions regarding this Policy, please contact us at:</p>
<p>PsychicSource.com<br>
Re: Privacy Policy<br>
P.O. Box 794<br>
Langhorne, PA 19047<br>
<a href="mailto:feedback@PsychicSource.com">feedback@PsychicSource.com</a> </p>
<a id="ss-how"></a>
<h3>How we protect your privacy</h3>
<p>Psychic Source is committed to protecting your privacy and uses some of the most sophisticated security software commercially available. Any personal information you submit to us is sent through a secure channel, using SSL (Secure Sockets Layer) software with 256-bit encryption. You can verify this by viewing and/or clicking on the Symantec icon visible on the order page.
</p>
<p>To verify that your browser is in secure mode, check that your address bar has changed color to green. &nbsp;This is the most obvious way to tell whether you are browsing a truly secure site. You can also check the URL address bar at the top of your browser. This line should show the first characters as “https” when a secure connection has been established, rather than the “http” which indicates that a connection is not secure. &nbsp;Finally, you can also check for a "padlock" or a "key" icon in the lower left- or right-hand corner of your browser window. To review security features, double-click on the icon.</p>
<p>In regards to interaction with certain services available on PsychicSource.com, some written communications may be maintained by Psychic Source. Psychic Source does not screen or edit the content of communications between members and Advisors during online chat readings. Such communications are personal and private.</p>
<a id="ss-info"></a>
<h3>Information we collect about you</h3>
<p>When you purchase online, we collect and store the following personal information:</p>
<ul>
     <li>Email Address</li>
     <li>Name</li>
     <li>Billing Address</li>
     <li>Telephone Number</li>
     <li>Credit Card Information </li>
</ul>
<p>We also collect and store the following technical information when you visit our site:</p>
<ul>
     <li>IP Address</li>
     <li>Browser Type</li>
     <li>Site Usage </li>
</ul>
<p>We use the IP address, demographic and user preference information we collect from you to improve your user experience, improve the overall functionality of our website and contact you regarding your account or transaction.</p>
<p>From time to time, we may share your personal information with Psychic Source company representatives or agents, in order to provide services related to the maintenance, operation and marketing of the website. A service provider’s use of such information is restricted by confidentiality agreements between Psychic Source and such provider. Additionally, in special circumstances, your information may be shared with others in order to voluntarily comply with applicable laws, cooperate with law enforcement and protect the interests or safety of PsychicSource.com or other visitors to this site. However, we will not voluntarily disclose your personal information to any third parties for marketing or promotional purposes and, except as otherwise provided in this Policy or by law, Psychic Source does not sell, trade or rent your personal information to others.</p>
<p>To offer all visitors the best site experience possible, PsychicSource.com may also use a “Cookie”, which is a small piece of information stored by your Web browser on your computer’s hard drive. Cookies help personalize your visits to our site by “remembering” certain things, such as your preferences. They are website-specific, so your PsychicSource.com cookies cannot be read by any other website. We do not let other companies set or access their cookies in your browser. Rest assured, we only use this information for internal use and DO NOT SHARE the information with anyone else.</p>
<p>PsychicSource.com also uses Google Analytics Advertising Features that allow us to track Google Analytics Demographics. This is also done through use of Cookies. You can opt out of Google Analytics tracking at Google Analytics' currently available <a style="color: " ng-click="external($event)" href data-href="https://tools.google.com/dlpage/gaoptout/">opt-outs for the web</a>.</p>
<p>You can delete the data stored on your hard drive in a file or folder called "cookies", at any time. Most Web browsers automatically accept cookies, but you can change your browser settings to notify you so you can choose whether or not to accept them. Refusing cookies, however, will limit your ability to access some of the content and/or functionality of this site. We do not let other companies set or access their cookies in your browser.</p>
<p>At some point, Psychic Source may sell or transfer subsidiaries, divisions or business units. If any such transactions occur, customer information relating to the transferred unit would likely be one of the transferred business assets. Also, if Psychic Source or substantially all of its assets were acquired by another entity, customer information would be one of the assets transferred. However, any information transferred in these situations would remain subject to the terms and conditions set forth in the Privacy Policy in effect at the time of collection of the information (unless the customer consents otherwise).</p>
<p><a href class="go-top" scroll-to-top-when="back_to_top_anchor_clicked"> Back to Top</a></p>
<a id="ss-psychic"></a>
<h3>Use of our services</h3>
<p>Psychic Source will not knowingly disclose the content of the interactions between our members and psychics. By making use of our telephone, chat and messaging services you consent to the content of these communications being recorded and/or saved privately for your protection and quality assurance.</p>
<h3>Psychic Source and third-party marketing communications to you</h3>
<p>In order to keep our customers informed about horoscopes, newsletters and special offers from Psychic Source and/or our partners, we may send such information via postal mail, email, or telephone, based on customer contact information. Details of each type of communication - and how to be removed from each list - are explained below.
</p>
<p><strong>Mailings</strong>– postal mail about other news, including, but not limited to, information about your account</p>
<p><strong>Email marketing</strong> – periodic email communications from us about Psychic Source news, information, or special offers</p>
<p><strong>Additional Psychic Source mailings</strong> – We will also communicate with you regularly by telephone, and/or email to provide any services you request and expect from Psychic Source. You will receive emails to alert you of the following: as confirmation of your new Psychic Source account, to confirm your transactions through PsychicSource.com, to let you know about important changes and improvements to our service, and to send you notices or other disclosures where we are required by law. Because they are essential to your account and your relationship with Psychic Source, you are not able to opt out of these communications.
</p>
<a id="ss-howto"></a>
<h3>How to be added or removed from our lists</h3>
<p>If you would like to be removed from Psychic Source marketing communications lists, please provide us with the contact information required via any of the methods listed below so that we can promptly and accurately process your request. (In cases where we lack the necessary information, we will make our best efforts to comply with your request.)</p>
<ul>
     <li><a href ng-click="external($event)" data-href="https://www.psychicsource.com/login?utm_source=smart_phone_app&utm_campaign=login&utm_medium=privacy_policy_screen">Login</a> to your member account then click on Update My Account Information and Communication Preferences. You will have the option to uncheck the appropriate options for postal mail, and/or email.</li>
     <li>Send an email to us at <a href="mailto:PsychicSource@PsychicSource.com">PsychicSource@PsychicSource.com</a> indicating your preferences.</li>
     <li>Call our Customer Service Center at <a href="tel:1.800.732.0797">1.800.732.0797</a>, where Representatives are available to help you 24/7.</li>
     <li>Write to us at:<br>
     PsychicSource.com<br>
     Attn: List Manager<br>
     P.O. Box 794<br>
     Langhorne, PA 19047
     </li>
</ul>
<p>Once you have set your communications preferences, you may change them by using any of the above methods.
</p>
<a id="ss-co"></a>
<h3>Co-branded companies</h3>
<p>A co-branded company is a PsychicSource.com partner whose website can be displayed within the PsychicSource.com website. The name of the co-branded company will be visible on that company's page(s) on our website. If you submit information to a co-branded company through this site, you authorize us to release your personal information to that company. While the co-branded companies we partner with are required by contract to abide by our information-sharing policies, PsychicSource.com is not responsible for usage of the information collected by any co-branded site.
</p>
<p>Other companies' websites that are co-branded with PsychicSource.com may collect data and information in different ways than we do. When visiting their websites, even through the co-branded site, you are responsible for reading their Terms and Conditions and Privacy Policies.</p>
<p><a class="go-top" scroll-to-top-when="back_to_top_anchor_clicked" href>Back to Top</a></p>

                </div>
    
    
    </div>
  <br>
</ion-content>
</ion-view>


