<!-- Return Call page -->

<ion-view title="Return Call">
<ion-content class="padding has-footer return-call-content">
  <h3 class="title no-ellipsis text-center">Manage Your Return Call Lines</h3>
  <div class="row">
      <div class="col col-90 text-right">
        <i class="ion-android-refresh"></i>
        <a href="" class="padding" ng-click="refresh()">Refresh</a>
      </div>
    </div>
    <div class="padding list">
      <div class="row item advisor-board-header" ng-show="calls.length">
        <div class="col col-50"></div>
        <div class="col text-center ellipsis">Position</div>
        <div class="col text-center ellipsis">Remove</div>
      </div>
      <div class="row item advisor-container text-center" ng-hide="calls.length">
        <div class="col col-100 col-center empty-message no-ellipsis">
          You are not in any Return Call Lines
          <a href="#" class="button button-block button-psychic2-light" href ng-click="external($event)" data-href="https://www.psychicsource.com/our-psychics?utm_source=smart_phone_app&utm_campaign=get_a_reading&utm_medium=return_call_screen" data-event-category='get a reading'>
              Get a Reading Now
          </a>
        </div>
      </div>
      <div class="row item advisor-container" ng-show="calls.length" ng-repeat="call in calls">
        <div class="col col-50 col-center advisor-info">
          <div class="img-container">
            <img class="profile-pic" width="40" height="50" ng-src="{{imagePath}}{{call.ExpertPhoto}}?width=60"/>
          </div>
          <span class="advisor-details">
            <span class="advisor-name">{{call.ExpertName}}</span> <br>
            <span class="advisor-availability"><strong><p>Next Availability:</p></strong>
                <p>{{call.ExpertNextLoginTime}}</p></span>
          </span>
        </div>
        <div class="col col-center text-center advisor-position">{{call.MemberPosition | ordinal}}</div>
        <a class="col col-center text-center" ng-click="remove($index)"><i class="icon ion-close-circled"></i></a>
      </div>
    </div>
  To speak with an advisor and hold your place in all Return Call lines, a ${{minimumBalance}} account minimum is required.
  </ion-content>
</ion-view>


