<ion-view title="Welcome">
  <ion-content class="padding has-footer">
    <div class="list card">
      <div class="item text-center button-psychicbg1">
        <h2>Welcome to Psychic Source</h2>
        <h2 class="bold">To Begin using this app please login</h2>
      </div>
    </div>
    <div class="list list-inset">       
      Login with your email and password
      <label class="item item-input">
        <input type="text" placeholder="Email"> 
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
      or<br>
      Login with your Phone number and Pin
      <label class="item item-input">
        <input type="text" placeholder="Phone Number">  
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Pin">
      </label>
    </div> 
      <button class="button button-block button-psychic2" ui-sref="app.member-home">Login</button>
      <div class="row">
        <div class="col col-50 col-offset-25 text-center">
          <a href="" ui-sref="forgot-password.html">Forgot your login information? </a>
        </div>
      </div>

    <button class="button button-block button-psychic3" ui-sref="app.become-member">
      <a href="www.psychicsource.com/enroll">Not a Member? Create an Account</a>
    </button>
    <div class="row">
      <div class="col col-80 text-right">
        <h4>Remember Me</h4>
      </div>
    
      <label class="toggle toggle-balanced remember-me">
        <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    
    </div>
  </ion-content>
</ion-view>

